img {
    width: 30%;
    margin: calc(10%/6);
}
hr {
    width: 30%;
    margin-left: calc(10%/6);
    height: 0%;
    margin-bottom: 20px;
    border-top: 3px #81b29a;
    border-style: solid;
}
h1 {
    font-family: fantasy;
    color: #fca311;
    margin-left: calc(10%/6);
}
body {
    background-color: #14213d;
}